.user{
  box-shadow: 5px 5px 10px gray;
  border-radius: 5%;
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
.post{
  box-shadow: 5px 5px 10px gray;
  border-radius: 5%;
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr  ;
  justify-content: space-between;
  background-color: rgb(235, 227, 227);
  margin: 20px 180px ;
  width: 1000px;
  padding: 10px 50px;

}
.container-comment{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(235, 227, 227);
  margin: 20px 180px ;
  width: 1000px;
  padding: 10px 50px;
  
}
.top-card{
  background-color: lightpink;
  text-align: center;
  border-radius: 5% 5% 0 0;
  height: 100px;
}
.text-post{
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.title-post{
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
img{
  width: 6em;
  height: 6em;
  background-color: lightpink;
  border-radius: 50%;
  border: solid 2px white;
  position: relative;
}
h2,h4{
  margin: 0;
}
button{
  background-color: pink;
  border: none;
  height: 50px;
  cursor: pointer;
}
.comment{
  box-shadow: 5px 5px 10px gray;
  border-radius: 5%;
  width: 600px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}